body{
  font-family: sans-serif;
}

h2{
    margin-bottom: 60px;
}

#view-selector{
    margin-bottom: 60px;
    table{
        display: inline;
    }
}

#container{
    padding: 40px;
}

#summary-table{
    margin-bottom: 40px;
}

.well{
    margin-top: 80px;
    width: 70%;
}
