// variables //
$global-margin: 40px;
$global-margin-lg: 60px;
$global-margin-xxl: 80px;

body{
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2{
    margin-bottom: $global-margin-lg;
}

#view-selector{
    margin-bottom: $global-margin-lg;
    table{
        display: inline;
    }
}

#container{
    padding: $global-margin-lg;
}

#summary-table{
    margin-bottom: $global-margin-lg;
}

#sessions-column{
    margin-bottom: $global-margin-lg;
}

#referral-table{
    margin-bottom: $global-margin-lg;
}

.well{
    margin-top: $global-margin-xxl;
    width: 70%;
}
